* {
    margin: 0;
    padding: 0;
}

.image-container {
    width: 80vw;
    height: 80vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.previous-button-container,
.next-button-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.next-button-container {
    right: 0%;
}

.previous-button,
.next-button {
    border: none;
    background: none;

    padding: 10px;
}

.previous-button,
.next-button:hover {
    cursor: pointer;
}

.image {
    height: 100%;
    width: 100%;
}

.dots-container {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 100%;
    display: inline-block;

    margin-right: 5px;
}

.dot:last-child {
    margin-right: 0px;
}

.active-dot {
    background-color: white;
}

.info {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    position: fixed;
    bottom: 195px;
    right: -130px;
    transform: rotate(270deg);
}

.icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.icon:hover {
    cursor: pointer;
}

.icons-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100%;

    display: flex;
    justify-content: flex-end;
}